*, body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #f5f5fa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.app {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.app__left {
  flex: 2;
  border: 1px solid grey;
}

.app__right {
  flex: 1;
  border: 1px solid grey;


}
.app__header{
  display: flex;
  margin-top: 20px; 
  margin-bottom: 30px; 
  border: 1px solid grey;
}

.app__dropdown {
  width: 200px;
}

.resource__panel {
  display: flex;
}
.resourcepanel__left {
  width: 70%;
  height: 100%;
}

.resourcepanel__left .card {
  padding: 70px 30px;
}

.resourcepanel__right {
  width: 30%;
  padding: 20px;

}


.resourcepanel__right img{
  width: 100%;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}

